
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="card m-b-20">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="invoice-title">
                  
                    <h3 class="mt-0">Sistemas de Gestión de la Responsabilidad Social</h3>
                </div>
                <hr>
              
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div>
                    <div class="p-2">
                       
                    </div>
                    <div class="">

                        <img src="~/images/fondoInicio.jpg" style="width: 100%">
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</div>