




<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Inicio</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Actividad</a></li>
                <li class="breadcrumb-item active">Nuevo</li>
            </ol>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Nuevo Actividad</h4>

                <button class="btn btn-danger mb-3" id="btnRegresar">Regresar</button>

                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-2 col-form-label">Id</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" value="" id="txtId">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Plan</label>
                    <div class="col-sm-10">
                        <select class="form-control">
                            <option>Seleccionar</option>
                            <option>Plan del 2020</option>
                            <option>Plan del 2019</option>
                            <option>Plan del 2018</option>
                            <option>Plan del 2027 </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Programa</label>
                    <div class="col-sm-10">
                        <select class="form-control">
                            <option>Seleccionar</option>
                            <option>RELACIONES COMUNITARIAS</option>
                            <option>COMUNICACIÓN EXTERNA</option>
                            <option>COMUNICACIÓN INTERNA</option>
                            <option>EXTENSIÓN CULTURAL Y CIENTÍFICA </option>
                            <option>SOLIDARIDAD SOCIAL</option>
                            <option>DONACIONES</option>
                            <option>SINERGIAS</option>

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Componente</label>
                    <div class="col-sm-10">
                        <select class="form-control">
                            <option>Seleccionar</option>
                            <option>COMPONENTE 01</option>
                            <option>COMPONENTE 02</option>
                            <option>COMPONENTE 03</option>
                            <option>COMPONENTE 04</option>
                            <option>COMPONENTE 05</option>
                            <option>COMPONENTE 06</option>
                            <option>COMPONENTE 07</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Proyecto</label>
                    <div class="col-sm-10">
                        <select class="form-control">
                            <option>Seleccionar</option>
                            <option>COMPONENTE 01</option>
                            <option>COMPONENTE 02</option>
                            <option>COMPONENTE 03</option>
                            <option>COMPONENTE 04</option>
                            <option>COMPONENTE 05</option>
                            <option>COMPONENTE 06</option>
                            <option>COMPONENTE 07</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="example-search-input" class="col-sm-2 col-form-label">Actividad</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" value="" id="txtNombre">
                    </div>
                </div>

                <button class="btn btn-primary" id="btnGuardar">Guardar</button>


            </div>
        </div>
    </div>
    <!-- end col -->
</div>


<script>

    $('#btnRegresar').click(function () {

        $.post('/Actividades/ListaActividades', null, function (response) {

            $("#divLayoutBody").html(response);
        });
    });
    $(document).ready(function () {


        var options = {
            format: 'dd/mm/yyyy',
            todayHighlight: true,
            autoclose: true,
            language: 'es'
        };

        $('#txtPlazoFin').datepicker(options);
        $('#txtPlazoInicio').datepicker(options);
    })


</script>