



<style>
    /*.form-control-nuevo {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }*/

    .nav-link {
        border: 1px;
        border-style: solid;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        /*background: #7a6fbe;*/
        background: #868e96;
    }

    .card {
        padding: 20px;
    }

    .card-header {
        background-color: #2364A6;
        color: #ffffff;
    }
</style>



<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Inicio</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Comunidad</a></li>
                <li class="breadcrumb-item active">Nuevo</li>
            </ol>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Nuevo Comunidad</h4>

                <button class="btn btn-danger mb-3" id="btnRegresar">Regresar</button>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Departamento</label>
                            <select class="form-control">
                                <option>Seleccionar</option>
                                <option>Departamento</option>
                                <option>Departamento </option>
                                <option>Departamento</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Provincia</label>
                            <select class="form-control">
                                <option>Seleccionar</option>
                                <option>Provincia</option>
                                <option>Provincia </option>
                                <option>Provincia</option>

                            </select>
                        </div>
                    </div>
                </div>
                <!-- fila 2-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Distrito</label>
                            <select class="form-control">
                                <option>Seleccionar</option>
                                <option>Distrito</option>
                                <option>Distrito</option>
                                <option>Distrito</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Centro Poblado</label>
                            <select class="form-control">
                                <option>Seleccionar</option>
                                <option>Centro Pobladoo</option>
                                <option>Centro Poblado</option>
                                <option>Centro Poblado</option>

                            </select>
                        </div>
                    </div>
                </div>
                <!-- fila 3-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Población</label>
                            <input class="form-control" type="text" value="" id="txtPresupuesto">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tipo de Área</label>
                            <select class="form-control">
                                <option>Seleccionar</option>
                                <option>Influencia Directa</option>
                                <option>Influencia sss </option>
                                <option>Influencia eeee</option>

                            </select>
                        </div>
                    </div>
                </div>
                <!-- fila 4-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Descripción</label>
                            <input class="form-control" type="text" value="" id="txtPresupuesto">
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>


                <!-- bloque 2-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card m-b-30">
                            <h4 class="card-header font-16 mt-0">Agregar Archivos</h4>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nombre del Archivo</label>
                                            <input class="form-control" type="text" value="" id="txtActas">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">


                                    <div class="col-md-6">


                                        <div class="form-group row">
                                            <div class="col-md-8">
                                                <input type="file" class="filestyle" data-buttonname="btn-secondary" data-buttonText="Cargar Archivo" data-iconName="fas fa-folder-open">
                                            </div>

                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-primary">Agregar</button>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <table id="datatable" class="table table-bordered dt-responsive">
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Nombre del Acta</th>
                                                        <th>Fecha</th>
                                                        <th>Archivo</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>

                                                <tbody>

                                                    <tr role="row" class="odd">
                                                        <td class="dtr-control sorting_1" tabindex="0">01</td>
                                                        <td>acta de registro</td>
                                                        <td>12/06/2020</td>
                                                        <td>acta.doc</td>
                                                        <td>
                                                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-info"><i class="far fa-edit"></i> </button>
                                                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-danger"><i class="fas fa-trash-alt"></i> </button>
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="even">
                                                        <td class="sorting_1 dtr-control">02</td>
                                                        <td>acta de gasto</td>
                                                        <td>02/07/2020</td>
                                                        <td>actadegasto.doc</td>

                                                        <td>
                                                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-info"><i class="far fa-edit"></i> </button>
                                                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-danger"><i class="fas fa-trash-alt"></i> </button>
                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-primary" id="btnGuardar">Guardar</button>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
<!-- end col -->


<script src="~/plugins/bootstrap-filestyle/js/bootstrap-filestyle.js"></script>

<script>

    $('#btnRegresar').click(function () {
        $.ajax({
            url: "/Comunidades/ListaComunidades",
            dataType: "html",
            success: function (html) {
                $("#divLayoutBody").html(html);

            }
        });


    });



    $(document).ready(function () {


    });



    })


</script>