<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <a href="/dashboard" class="logo">
            <span>
                <!-- logo grande -->
                <img src="~/images/loginElectroperu.png" alt="" height="18" class="imgGrande">
            </span>
            <i>
                <!-- logo pequeño -->
                <img src="~/images/loginElectroperu.png" alt="" height="22">
            </i>
        </a>
    </div>

    <nav class="navbar-custom">
        <ul class="navbar-right d-flex list-inline float-right mb-0">


            <li class="breadcrumb-item app-search">
                <i class="mdi mdi-account m-r-5"></i> Luis Cano
            </li>
            <li class="breadcrumb-item app-search">
                <i class="mdi mdi-calendar m-r-5"></i> @DateTime.Now.ToShortDateString()
            </li>

            <li class="dropdown notification-list">
                <div class="dropdown notification-list nav-pro-img">
                    <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="~/images/default-avatar.jpg" alt="user" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="mdi mdi-wallet m-r-5"></i> My Wallet</a>
                        <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right">11</span><i class="mdi mdi-settings m-r-5"></i> Settings</a>
                        <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5"></i> Lock screen</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#"><i class="mdi mdi-power text-danger"></i> Logout</a>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-effect">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>

        </ul>
    </nav>
</div>

<div class="left side-menu">
    <!-- side-menu -->
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Main</li>
                <li>
                    <a href="/" class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i><span class="badge badge-primary badge-pill float-right">2</span> <span> Dashboard </span>
                    </a>
                </li>
                @*<li>
            <a href="@Url.Action("Calendar", "Dashboard")" class="waves-effect"><i class="mdi mdi-calendar-check"></i><span> Calendar </span></a>
        </li>*@

                @*<li>
            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-email-outline"></i><span> Email <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
            <ul class="submenu">
                <li><a href="/email/inbox">Inbox</a></li>
                <li><a href="/email/read">Email Read</a></li>
                <li><a href="/email/compose">Email Compose</a></li>
            </ul>
        </li>*@


                <li class="menu-title">Gestiones</li>

                @*<li>
            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-altimeter"></i><span> Solicitud <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
            <ul class="submenu">
                <li><a href="/pages/login">Registro</a></li>
                <li><a href="/pages/register">Consulta</a></li>

            </ul>
        </li>*@

                @*<li>
            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-location"></i><span> Mesa de Ayuda <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
            <ul class="submenu">
                <li>
                    <a href="javascript:void(0);" class="waves-"><i class="mdi mdi-account-location"></i><span> Registro<span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>

                    <ul class="submenu">
                        <li><a href="/pages/login">Datos de la Mesa de Dialogo y la Pestaña Actas </a></li>
                        <li><a href="/pages/register">Participantes</a></li>
                        <li><a href="/pages/register">Solicitud de Apoyo</a></li>
                        <li><a href="/pages/register">Acuerdos</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-"><i class="mdi mdi-account-search"></i><span> Consulta <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                </li>

            </ul>
        </li>*@



                <li>
                    <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                       data-ajax-mode="replace"
                       data-ajax-update="#divLayoutBody"
                       href="/Requerimiento/ListaRequerimiento">
                        <i class="mdi mdi-altimeter"></i><span> Requerimiento </span>
                    </a>


                </li>


                <li>
                    <a href="javascript:void(0);" class="waves-effect">

                        <i class="mdi mdi-application">
                        </i>
                        <span>
                            Convenio
                            <span class="float-right menu-arrow">
                                <i class="mdi mdi-chevron-right"></i>
                            </span>
                        </span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-autorenew"></i><span> Registro<span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>

                            <ul class="submenu">
                                <li><a href="/pages/login">Datos del Convenio y Pestaña Presupuesto </a></li>
                                <li><a href="/pages/register">Pagos</a></li>
                                <li><a href="/pages/register">Mesa de Dialogo</a></li>
                                <li><a href="/pages/register">Pestaña Observaciones</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-"><i class="mdi mdi-account-search"></i><span> Consulta <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                        </li>


                    </ul>
                </li>




                <!--

    <li id="left-subMenu-/Parametro" data-nombre-opcion="Parámetros" class="treeview">
            <a class="selectItem opcionHijo" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
               data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/Parametro">
                 Parámetros
            </a>
        </li>


    <li class="menu-title">Mantenimiento</li>

    <li>
        @*<a href="@Url.Action("Parametros","Configuracion")" class="waves-effect"><i class="mdi mdi-altimeter"></i><span> Parametros </span></a>*@

        <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
           data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/Configuracion"><i class="mdi mdi-altimeter"></i><span> Parametros </span></a>

        <a href="@Url.Action("ConfiguracionEmail", "Configuracion")" class="waves-effect"><i class="mdi mdi-album"></i><span> Email </span></a>


    </li>

    <li>


        <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
           data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/Configuracion"><i class="mdi mdi-altimeter"></i><span></span></a>


    </li> -->
                <li class="menu-title">Mantenimiento</li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-format-list-bulleted-type"></i><span> Sistema <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li>
                            <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                               data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/Programa/ListaPrograma"><i class="mdi mdi-altimeter"></i><span>Programa</span></a>
                        </li>
                        <li>
                            <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                               data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/Componente/ListaComponente"><i class="mdi mdi-altimeter"></i><span>Componente</span></a>

                        </li>
                        <li>
                            <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                               data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/Proyecto/ListaProyecto"><i class="mdi mdi-altimeter"></i><span>Proyecto</span></a>
                        </li>
                        <li>
                            <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                               data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/Indicador/ListaIndicador"><i class="mdi mdi-altimeter"></i><span>Indicador</span></a>
                            <li>
                                <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                                   data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/CentrosSalud/ListaCentrosSalud"><i class="mdi mdi-altimeter"></i><span>Centro de Salud</span></a>
                            </li>
                        </li>

                    </ul>
                </li>


                <li class="menu-title">Reportes</li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-blur-off"></i><span> Indicadores <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-brightness-7"></i><span> Comunidades <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>

                </li>

                @*<li>
            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-clipboard-outline"></i><span> Forms <span class="badge badge-pill badge-success float-right">6</span> </span></a>
            <ul class="submenu">
                <li><a href="/forms/elements">Form Elements</a></li>
                <li><a href="/forms/validation">Form Validation</a></li>
                <li><a href="/forms/advanced">Form Advanced</a></li>
                <li><a href="/forms/editors">Form Editors</a></li>
                <li><a href="/forms/uploads">Form File Upload</a></li>
                <li><a href="/forms/xeditable">Form Xeditable</a></li>

            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-chart-line"></i><span> Charts <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
            <ul class="submenu">
                <li><a href="/chart/morris">Morris Chart</a></li>
                <li><a href="/chart/chartist">Chartist Chart</a></li>
                <li><a href="/chart/chartjs">Chartjs Chart</a></li>
                <li><a href="/chart/flot">Flot Chart</a></li>
                <li><a href="/chart/c3">C3 Chart</a></li>
                <li><a href="/chart/other">Jquery Knob Chart</a></li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-format-list-bulleted-type"></i><span> Tables <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
            <ul class="submenu">
                <li><a href="/table/basic">Basic Tables</a></li>
                <li><a href="/table/datatable">Data Table</a></li>
                <li><a href="/table/responsive">Responsive Table</a></li>
                <li><a href="/table/editable">Editable Table</a></li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-album"></i> <span> Icons  <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span> </a>
            <ul class="submenu">
                <li><a href="/icon/material">Material Design</a></li>
                <li><a href="/icon/ion">Ion Icons</a></li>
                <li><a href="/icon/fontawesome">Font Awesome</a></li>
                <li><a href="/icon/themify">Themify Icons</a></li>
                <li><a href="/icon/dripicons">Dripicons</a></li>
                <li><a href="/icon/typicons">Typicons Icons</a></li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-google-maps"></i><span> Maps <span class="badge badge-pill badge-danger float-right">2</span> </span></a>
            <ul class="submenu">
                <li><a href="/maps/google"> Google Map</a></li>
                <li><a href="/maps/vector"> Vector Map</a></li>
            </ul>
        </li>*@



            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>

