<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <a href="/dashboard" class="logo">
            <span>
                <!-- logo grande -->
                <img src="~/images/loginElectroperu.png" alt="" height="18" class="imgGrande">
            </span>
            <i>
                <!-- logo pequeño -->
                <img src="~/images/loginElectroperu.png" alt="" height="22">
            </i>
        </a>
    </div>

    <nav class="navbar-custom">
        <ul class="navbar-right d-flex list-inline float-right mb-0">


            <li class="breadcrumb-item app-search">
                <i class="mdi mdi-account m-r-5"></i> Luis Cano
            </li>
            <li class="breadcrumb-item app-search">
                <i class="mdi mdi-calendar m-r-5"></i> @DateTime.Now.ToShortDateString()
            </li>

            <li class="dropdown notification-list">
                <div class="dropdown notification-list nav-pro-img">
                    <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="~/images/default-avatar.jpg" alt="user" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="mdi mdi-wallet m-r-5"></i> My Wallet</a>
                        <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right">11</span><i class="mdi mdi-settings m-r-5"></i> Settings</a>
                        <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5"></i> Lock screen</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#"><i class="mdi mdi-power text-danger"></i> Logout</a>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-effect">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>

        </ul>
    </nav>
</div>

<div class="left side-menu">
    <!-- side-menu -->
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Gestión</li>
                <li>
                    <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                       data-ajax-mode="replace"
                       data-ajax-update="#divLayoutBody"
                       href="/Requerimiento/ListaRequerimiento">
                        <i class="mdi mdi-altimeter"></i>
                        <span> Requerimiento </span>
                    </a>

                    <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                       data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/DetalleIndicador/ListaDetalleIndicador">
                        <i class="mdi mdi-chart-bar"></i><span>Detalle Indicador</span>
                    </a>

                </li>


                <li class="menu-title">Mantenimiento</li>
                @*<li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-format-list-bulleted-type"></i><span> Sistema <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">*@
                <li>
                    <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                       data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/Plan/ListaPlan"><i class="mdi mdi-altimeter"></i><span>Plan</span></a>
                </li>
                <li>
                    <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                       data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/Programa/ListaPrograma"><i class="mdi mdi-altimeter"></i><span>Programa</span></a>
                </li>
                <li>
                    <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                       data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/Componente/ListaComponente"><i class="mdi mdi-altimeter"></i><span>Componente</span></a>

                </li>
                <li>
                    <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                       data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/Proyecto/ListaProyecto"><i class="mdi mdi-cube"></i><span>Proyecto</span></a>
                </li>
                <li>
                    <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                       data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/Actividades/ListaActividades"><i class="mdi mdi-home-variant"></i><span>Actividad</span></a>
                </li>
                <li>
                    <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                       data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/Indicador/ListaIndicador"><i class="mdi mdi-chart-bar"></i><span>Indicador</span></a>
                </li>


                <li>
                    <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                       data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/CentrosSalud/ListaCentroDeSalud"><i class="mdi mdi-ambulance"></i><span>Centro de Salud</span></a>
                </li>

                <li>
                    <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                       data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/Comunidades/ListaComunidades"><i class="mdi mdi-home-variant"></i><span>Comunidad</span></a>
                </li>
                <li>
                    <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                       data-ajax-mode="replace" data-ajax-update="#divLayoutBody" href="/Convenio/ListaConvenio"><i class="mdi mdi-home-variant"></i><span>Convenio</span></a>
                </li>

                @*</ul>
                    </li>*@


                <li class="menu-title">Reportes</li>

                <li>

                    <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                       data-ajax-mode="replace"
                       data-ajax-update="#divLayoutBody"
                       href="/Reporte/ReporteIndicador">
                        <i class="mdi mdi-blur-off"></i>
                        <span> Indicador </span>
                    </a>

                    <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                       data-ajax-mode="replace"
                       data-ajax-update="#divLayoutBody"
                       href="/Reporte/ReporteGasto">
                        <i class="mdi mdi-blur-off"></i>
                        <span> Gasto </span>
                    </a>

                    <a class="waves-effect" data-ajax="true" data-ajax-begin="LoadLoading();" data-ajax-complete="UnloadLoading();" data-ajax-failure="UnloadLoading();"
                       data-ajax-mode="replace"
                       data-ajax-update="#divLayoutBody"
                       href="/Reporte/ReporteRequerimiento">
                        <i class="mdi mdi-blur-off"></i>
                        <span> Requerimiento </span>
                    </a>


                </li>


            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>

