






<link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Inicio</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Convenio</a></li>
                <li class="breadcrumb-item active">Lista de Convenios</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Lista de Convenios</h4>
                <p class="card-title-desc">
                    <button class="btn btn-primary" id="btnNuevoRequerimiento">Nuevo</button>
                </p>

            </div>
        </div>
    </div>
    <!-- end col -->
</div>


<!-- Prueba -->
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>


<script>
    $(document).ready(function () {

        $('#btnNuevoRequerimiento').click(function () {

            $.ajax({
                url: "/Convenio/NuevoConvenio",
                dataType: "html",
                success: function(html) {
                    $("#divLayoutBody").html(html);

                }
            });

        });




    });



</script>

